* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    /*max-width: 1300px;*/
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background: -webkit-gradient(linear, to top, color-stop(0%, #ff0844), color-stop(100%, #ffb199));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #ff0844 0%, #ffb199 100%);
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(top, #ff0844 0%, #ffb199 100%);
    /* FF3.6+ */
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    /* W3C */

    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: rgb(2, 38, 115);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(2, 38, 115);
    color: rgb(2, 38, 115);
}

.button:hover {
    background: rgb(0, 81, 255);
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #0051ff;
    transition: all 0.3s ease;
}

@media screen and (max-width: 550px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80 px;
        z-index: 1;
        width: 100%;
        /*max-width: 1300px;*/
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6em;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(2, 38, 115);
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }


    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }


    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* Hero section: CSS */
.main {
    background-color: #fff;

}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    /*max-width: 1300px;*/
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background: rgb(2, 38, 115);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgb(2, 38, 115)), color-stop(100%, rgb(0, 81, 255)));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgb(2, 38, 115) 0%, rgb(0, 81, 255) 100%);
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgb(2, 38, 115) 0%, rgb(0, 81, 255) 100%);
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgb(2, 38, 115) 0%, rgb(0, 81, 255) 100%);
    /* W3C */

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 81, 255);
}


.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;

    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;

}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Services section: CSS */

.services {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360vh;
}

.services h1 {
    background-color: #ff8177;

    background-image: linear-gradient(to right, #0051ff 0%, #0246d6 0%, #0237aa 21%, #012f94 52%, #012062 78%, #011540 100%);

    background: -webkit-gradient(linear, to right, color-stop(0%, #0051ff), color-stop(0%, #0246d6), color-stop(21%, #0237aa), color-stop(52%, #012f94), color-stop(78%, #012062), color-stop(100%, #011540));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(right, #0051ff 0%, #0246d6 0%, #0237aa 21%, #012f94 52%, #012062 78%, #011540 100%);
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(right, #0051ff 0%, #0246d6 0%, #0237aa 21%, #012f94 52%, #012062 78%, #011540 100%);
    /* FF3.6+ */
    background: linear-gradient(to right, #0051ff 0%, #0246d6 0%, #0237aa 21%, #012f94 52%, #012062 78%, #011540 100%);
    /* W3C */
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;

    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/pic3.jpeg'); */

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.6))), url('./images/computer.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/computer.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/computer.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/computer.jpg');
    /* W3C */

    background-size: cover;

    position: relative;

    color: #fff;
}

.services__card:nth-child(2) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.9))), url('./images/numbers-operations2.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.9) 100%), url('./images/numbers-operations2.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.9) 100%), url('./images/numbers-operations2.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.9) 100%), url('./images/numbers-operations2.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(3) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/if-condition.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/if-condition.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/if-condition.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/if-condition.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(4) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/loops.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/loops.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/loops.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/loops.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(5) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/functions.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/functions.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/functions.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/functions.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(6) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/pointers.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/pointers.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/pointers.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/pointers.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(7) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/arrays.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/arrays.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/arrays.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/arrays.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(8) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/dynamic-allocation.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/dynamic-allocation.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/dynamic-allocation.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/dynamic-allocation.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(9) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/strings.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/strings.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/strings.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/strings.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(10) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/russian-dolls.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/russian-dolls.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/russian-dolls.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/russian-dolls.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(11) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/struct.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/struct.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/struct.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/struct.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(12) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/linked-list.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/linked-list.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/linked-list.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/linked-list.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(13) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/search.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/search.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/search.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/search.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(14) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/sort.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/sort.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/sort.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/sort.jpg');
    /* W3C */
    background-size: cover;
}

.services__card:nth-child(15) {

    background: -webkit-gradient(linear, to bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 0.3))), url('./images/binary-tree.jpg');
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/binary-tree.jpg');
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/binary-tree.jpg');
    /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.3) 100%), url('./images/binary-tree.jpg');
    /* W3C */
    background-size: cover;
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #0051ff;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}


@media screen and (max-width: 1290px) {
    .services {
        height: 560vh;
    }
}

@media screen and (max-width: 960px) {
    .services {
        height: 583vh;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 860px) {
    .services {
        height: 1055vh;
    }
}

@media screen and (max-width: 550px) {
    .services {
        height: 1050vh;
    }

    .services h1 {
        font-size: 1.2rem;

    }

    .services__card {
        width: 300px;
    }
}

/* Footer CSS */
.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__link {
    width: 100%;
    /* max-width: 1300px; */
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    color: #fff;
}

.footer__link--items h2 {
    margin-bottom: 16px;

}

.footer__link--items>h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/* Social Items */

.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    /* max-width: 1300px; */
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}


.website__rights {
    color: #fff;
}

@media screen and (max-width: 960px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;

    }

}

@media screen and (max-width: 550px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}