# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: "Snefru: Learning Programming with C"
author: Salma Emara et al.
copyright: "2022"
logo: logo.png
only_build_toc_files: true

sphinx:
  config:
    # Specifying the language can improve accessibility in screen readers
    # and translators
    language: en

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/salmashukry/aps105-book/ # Online location of your book
  path_to_book: textbook # Optional path to your book, relative to the repository root
  branch: master # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
