# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: "Snefru: Learning Programming with C"
author: Salma Emara et al.
copyright: "2023"
logo: logo.png
only_build_toc_files: true

sphinx:
  config:
    # Specifying the language can improve accessibility in screen readers
    # and translators
    language: en

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/salma-emara/aps105-book/ # Online location of your book
  path_to_book: textbook # Optional path to your book, relative to the repository root
  branch: master # Which branch of the repository should be used when creating links (optional)

launch_buttons:
  thebe: true
  # Add GitHub buttons to your book
  # See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  #Add highlight and annotate feature
  comments:
    hypothesis: true
parse:
  myst_enable_extensions:
    - dollarmath
    - substitution
  myst_url_schemes: [mailto, http, https]
  myst_substitutions:
    # The video_embed substitution below is essentially a macro to avoid
    # repeating all of the YouTube embed code for each video in the book.
    # The %%VID%% part of the src attribute is replaced by the YouTube video
    # id at each place where a video is linked in the textbook source.
    video_embed: '<div class="container16x9"><iframe src="https://www.youtube.com/embed/%%VID%%" class="responsive-iframe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>'
    # The quiz_embed substitution below is essentially a macro to avoid 
    # repeating the quiz embed
    quiz_embed:
        <link rel="stylesheet" href = "../../_static/style.css">
        <script src = "../../../../../quiz/%%FILENAME%%.js">
        <script src = "../../_static/app.js"> </script>
        
      <div id="container-header" class="container-box">
        <div class = "header">  
          <h3>Quiz</h3>
          <p id="question-number">0 Questions</p>
        </div>
        <button id = "start-button" onclick = "startQuiz()"> Start Quiz </button>        
      </div>

        <div id = "fullscreen-form" class="parent-container">
          <div id = "close-button" onclick = "closeFullscreenForm()"> X </div>
                <script> parse_and_generate_form("%%FILENAME%%") </script>
                
          </div>
        </div>

